body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    padding: 1em 3em 1em 3em;
    color: #555;
    line-height: 1.45em;
}

h1 {
    color: #ec0;
    font-size: 16pt;
}

h2.subtitle {
    color: #888;
    font-size: 10pt;
    margin-top: 0.1em;
    margin-bottom: 1em;
}

h2 {
    color: #900;
    font-size: 12pt;
    margin-top: 1em;
    margin-bottom: 0.1em;
}

li {
    padding-bottom: 0.75em;
}

li span.note {
    display:      block;
    padding:      0.5em 4em 0.5em 0.5em;
    margin:       0.5em 0px 1em 50%;
    border:       1px solid #888;
    border-bottom: 2px solid #888;
    color:        #888;
}

pre {
    border:       1px solid #88f;
    line-height:  1.2em;
    background:   #ddd;
    color:        #222;
    padding:      0.2em;
}

.meta {
    margin-top: 2em;
    border-top: 2px solid #ccc;
    padding-top: 0.5em;
}

#valid {
    display: block;
    float:   right;
}

#valid img {
    border:  none;
}
